.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgb(43, 42, 42);
  padding: 0.5rem;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
}

.menu-item {
  list-style: none;
}

.link {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.link.active {
  color: white;
}

.link:hover {
  color: white;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.article {
  padding: .5rem;
  border-radius: 5px;
  border: none;
}

.button {
  background-color: transparent;
  color: white;
  border: 1px solid blue;
  padding: 0.5rem;
  border-radius: 5px;
  transition: background-color .3s linear;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}